# Discord
BOT_TOKEN=
OWNER_IDS=
BOT_PREFIX=.
BOT_COLOR=#3F4652

# Services
MONGODB_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Lavalink
LAVALINK_NAME=Primary
LAVALINK_URL=localhost:2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false
LAVALINK_SOURCE=ytmsearch

# Links
SUPPORT_URL=
INVITE_URL=
COMMUNITY_GUILD_ID=

# Optional webhooks
COMMAND_WEBHOOK_URL=
GUILD_JOIN_WEBHOOK_URL=
GUILD_LEAVE_WEBHOOK_URL=
PLAYER_CREATE_WEBHOOK_URL=
PLAYER_DELETE_WEBHOOK_URL=
BLACKLIST_WEBHOOK_URL=
